* {
    margin: 0;
    font-family:Arial;
    border: border-box;

}

.navbar {
    height: 60px;
    background-color: #00C9A7;
    color: antiquewhite;
    border-radius: 30px;
    padding-top: 20x;
}

.navlogo {
    height: 50x;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png") ;
    height: 50px;
    width: 100%;
    background-size: cover;

}

.border:hover {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40px;

}